[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kk360
[access "refs/for/refs/*"]
	read = group user/kk360
	push = group user/kk360
	label-Code-Review = -2..+2 group user/kk360
	label-Verified = -1..+1 group user/kk360
	rebase = group user/kk360
	removeReviewer = group user/kk360
	submit = group user/kk360
[access "refs/heads/*"]
	read = group user/kk360
	create = group user/kk360
	push = +force group user/kk360
	pushMerge = group user/kk360
[access "refs/tags/*"]
	push = group user/kk360
	push = +force group user/kk360
